*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}
body{
    background: #222;
    overflow: hidden;
}
.container{
    position: relative;
    width: 100%;
    inset: 100px 0 100px 0;
    padding: 50px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:0px;
    overflow: hidden;
    margin-left: 0;
}
.container .card{
    --widthCard: 20vw;
    position: relative;
    max-width: 100px;
    min-width: 100px;
    max-height: 120px;
    min-height: 120px;
    border: thin solid #000;
    transition: .5s;
    margin-top: 0px;
    opacity: 0;
    animation: teste 1s;
    margin-left: -50px;
    margin-right: -50px;
    z-index: 1;
    box-shadow: 0px 0px 17px #000;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    z-index: -1;
    background-image: var(--img);
    background-size: cover;
    background-position: center;
}
@keyframes teste {
    0%{ opacity: 0; }
}
.container .card:nth-child(1){
    margin-left: -50px;
}
.container .card:nth-child(7){
    max-width: 250px;
    min-width: 250px;
    max-height: 300px;
    min-height: 300px;
    opacity: 1;
    z-index: 3;
    transform: rotate(0deg);
    margin-top: -30px;
}
.container .card:nth-child(6), .container .card:nth-child(8){
    max-width: 200px;
    min-width: 200px;
    max-height: 240px;
    min-height: 240px;
    opacity: 1;
    z-index: 2;
    transform: rotate(-10deg);
    margin-top: 10px;
}
.container .card:nth-child(8){
    transform: rotate(10deg);
}
.container .card:nth-child(5), .container .card:nth-child(9){
    max-width: 150px;
    min-width: 150px;
    max-height: 180px;
    min-height: 180px;
    opacity: 1;
    transform: rotate(-20deg);
    margin-top: 70px;
}
.container .card:nth-child(9){
    transform: rotate(20deg);
}
.container .card:nth-child(4){
    transform: rotate(-30deg);
} 
.container .card:nth-child(10){
    transform: rotate(30deg);
}
.contanerBtn{
    text-align: center;
}
#next,#prev{
    z-index: 10;
    position: relative;
    bottom: 10px;
    left: 10px;
    padding: 10px;
    width: 100px;
    background: #222;
    border: thin solid #fff;
    color: #fff;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#next:active, #prev:active{
    background: #fff;
    border: thin solid #000;
    color: #000;
}
